<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'previewQuote.title' | translate}}
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'previewQuote.title' | translate}}</span>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Review Quote Card -->
    <form class="theme-form mt-mobile">
        <div class="theme-card w-100 p-0">
            <div class="card-content preview-details preview-card-content">

                <div class="head-md pull-left w-75 rq-head-md opacity-1">
                    <span>{{ 'Accident Sheild Plus' | translate }}</span>
                    <div class="theme-label">
                        <span>( {{ 'previewQuote.quoteId.label' | translate }} )</span>
                    </div>
                </div>

                <div class="pull-right pl-10 d-flex align-items-center">
                    <button class="btn quotelist-btn  d-none d-md-block">
                        <svg class="svg-xs">
                            <use xlink:href="#ICON_clone" />
                        </svg></button>
                    <button (click)="contactDetailModal(contact_detail_template,'share')"
                        class="btn quotelist-btn p-0 d-none d-md-block">
                        <svg class="svg-md">
                            <use xlink:href="#ICON_Share" />
                        </svg></button>
                    <button class="btn quotelist-btn d-none d-md-block mr-0"
                        (click)="contactDetailModal(contact_detail_template,'save')">
                        <svg class="svg-xs mini-svg m-0">
                            <use xlink:href="#ICON_Download" />
                        </svg></button>
                    <!-- <button class="btn quotelist-btn d-none d-md-block mr-0">
                        <svg class="svg-xs">
                            <use xlink:href="#ICON_Edit" />
                        </svg></button> -->

                    <div class="dropdown  d-inline-flex d-md-none">
                        <button class="btn quotelist-btn mob-qlist d-sm-none mr-0" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg height="16" width="16">
                                <use xlink:href="#ICON_Three_dots" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right qoute-dropdown"
                            aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item"><svg class="svg-xs dropdown-clone-icon">
                                        <use xlink:href="#ICON_clone" />
                                    </svg><span class="pl-2">{{ 'commonBtn.clone' | translate }}</span></a></li>
                            <li><a class="dropdown-item qoute-dropdown-li dropdown-anchor-share"
                                    (click)="contactDetailModal(contact_detail_template,'share')"><svg
                                        class="svg-xs dropdown-share-icon">
                                        <use xlink:href="#ICON_Share" />
                                    </svg><span class="pl-2">{{ 'commonBtn.share' | translate }}</span></a></li>
                            <li><a class="dropdown-item qoute-dropdown-li"
                                    (click)="contactDetailModal(contact_detail_template,'save')"><svg class="svg-xs ">
                                        <use xlink:href="#ICON_Download" />
                                    </svg><span class="pl-2">{{ 'commonBtn.save' | translate }}</span></a></li>
                            <!-- <li><a class="dropdown-item"><svg class="svg-xs">
                                        <use xlink:href="#ICON_Edit" />
                                    </svg><span class="pl-2">{{ 'commonBtn.edit' | translate }}</span></a></li> -->
                        </ul>
                    </div>

                </div>

                <div class="disp-flex review-proposal preview-structure">
                    <!-- Customer Details -->
                    <div class="flex-box-100 pb-0">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label class="head-sm subtitle">{{ 'previewQuote.customerDetails.subtitle' | translate
                                }}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.fullName.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value text-capitalize">Rajesh Arora</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.emailId.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">abc@abc.com</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.phoneNumber.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">9871252265</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.occupation.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">SERVICE</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.pincode.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">201001</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.gstinNo.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">XXXXXXXXXXXXXXX</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.annualIncome.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">XXXXXXXX</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label class="theme-label">{{
                                    'previewQuote.customerDetails.proposerInsued.label' |
                                    translate
                                    }}</label>
                                <span class="theme-value">Yes</span>
                            </div>
                        </div>
                    </div>

                    <!-- Plan Details -->
                    <div class="flex-box-100 pb-0">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.planDetails.subtitle' | translate}}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.planDetails.productVariant.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.planDetails.planType.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.planDetails.riskType.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.planDetails.membersCovered.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.planDetails.affiliationType.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                        </div>
                    </div>

                    <!-- Insuarance Details -->
                    <div class="flex-box-100 pb-0">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.insuranceDetails.subtitle' | translate}}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.insuranceDetails.policyTenure.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.insuranceDetails.policyStartDate.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.insuranceDetails.policyEndDate.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.insuranceDetails.totalSumInsured.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.insuranceDetails.premiumAmount.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-12">
                                <button (click)="openPremiumBreakupModal(premium_breakup_modal_template)" type="button"
                                    class="btn link-btn pl-0">{{'previewProposal.insuranceDetails.viewPremiumBreakup.label' |translate}}</button>
                            </div>
                        </div>
                    </div>

                    <!-- Member details -->
                    <div class="flex-box-100">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.memberDetails.subtitle' | translate}}</label>
                            </div>
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.memberDetails.self.label' | translate}}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.gender.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.dateOfBirth.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.rider.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.riskClass.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.riderOpted.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.temporaryTotalDisability.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-12">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.historyQues.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.memberDetails.spouse.label' | translate}}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.gender.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.dateOfBirth.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.rider.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.riskClass.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.riderOpted.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.temporaryTotalDisability.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-12">
                                <label
                                    class="theme-label pb-2">{{'previewQuote.memberDetails.historyQues.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label
                                    class="head-sm subtitle">{{ 'previewQuote.memberDetails.dependentChild.label' | translate}}</label>
                            </div>
                        </div>
                        <div class="row preview-details-row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.gender.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <label
                                    class="theme-label">{{'previewQuote.memberDetails.dateOfBirth.label' |translate}}</label>
                                <span class="theme-value">Lorem Ipsum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button" (click)="route()"
                class="btn primary-btn mob-text-btn theme-lg-btn active">{{ 'commonBtn.convertToProposal' | translate }}</button>
        </div>
    </form>
</div>
<!-- Contact Modal -->
<ng-template #contact_detail_template>
    <div class="detail-container-modal modal-md modal-form contact-detail-modal">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{'contact_Detail.title'| translate }}</h4>
            <div class="close-icon" (click)="contactModalRef.hide()">
                <svg>
                    <use xlink:href="#ICON_Cross" />
                </svg>
            </div>
        </div>
        <div class="modal-body has-form">
            <form [formGroup]="contactDetailForm" class="theme-form">
                <div class="row">
                    <div [ngClass]="{'complete': contactDetailForm.get('salutation').value}"
                        class="form-field col-md-4">
                        <label for="salutation"
                            class="head-sm required-field">{{'contact_Detail.salutation.title' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="salutation"
                            id="salutation" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': contactDetailForm.value.firstName}" class="form-field col-md-8">
                        <label for="firstName" class="head-sm required-field">{{ 'contact_Detail.firstName.label' | translate
                            }}</label>
                        <input type="text" formControlName="firstName" (keypress)="formatName($event)"
                            class="form-control" name="firstName" id="firstName"
                            placeholder="{{'contact_Detail.firstName.placeholder' | translate}}" autocomplete="off">
                        <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': contactDetailForm.value.middleName}" class="form-field col-md-6">
                        <label for="middleName" class="head-sm">{{ 'contact_Detail.middleName.label' | translate
                            }}</label>
                        <input type="text" formControlName="middleName" (keypress)="formatName($event)"
                            class="form-control" name="middleName" id="middleName"
                            placeholder="{{'contact_Detail.middleName.placeholder' | translate}}" autocomplete="off">
                        <!-- <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span> -->
                    </div>
                    <div [ngClass]="{'complete': contactDetailForm.value.lastName}" class="form-field col-md-6">
                        <label for="lastName" class="head-sm required-field">{{ 'contact_Detail.lastName.label' | translate
                            }}</label>
                        <input type="text" formControlName="lastName" (keypress)="formatName($event)"
                            class="form-control" name="lastName" id="lastName"
                            placeholder="{{'contact_Detail.lastName.placeholder' | translate}}" autocomplete="off">
                        <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': contactDetailForm.value.email}" class="form-field col-md-12">
                        <label for="email" class="head-sm required-field">{{ 'contact_Detail.email.label' | translate }}
                        </label>
                        <input type="email" formControlName="email" (keypress)="formatEmail($event)"
                            class="form-control" id="email"
                            placeholder="{{'contact_Detail.email.placeholder' | translate}}" autocomplete="off">
                        <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': contactDetailForm.value.mobile}" class="form-field col-md-12">
                        <label for="mobile"
                            class="head-sm required-field">{{ 'contact_Detail.mobile.label' | translate }}
                        </label>
                        <input type="text" formControlName="mobile" required minlength="10" maxlength="10"
                            (keypress)="isNumberKey($event)" pattern="^[6-9]\\d{9}$" class="form-control" id="mobile"
                            placeholder="{{'contact_Detail.mobile.placeholder' | translate}}" autocomplete="off">
                        <span class="error-msg">
                            {{ 'commonText.requiredError' | translate }}
                        </span>
                    </div>
                    <div class="col-md-12 text-center m-t-xs">
                        <div class="row d-flex justify-content-center">
                            <div *ngIf="savePremium" class="col-12 col-md-6">
                                <button data-dismisss="modal" type="button" class="btn primary-btn m-0 theme-sm-btn"
                                    (click)="shareQuote(success_template)">{{ 'commonBtn.save' | translate }}</button>
                            </div>
                            <div *ngIf="sharePremium" class="col-12 col-md-6">
                                <button data-dismisss="modal" type="button" class="btn primary-btn m-0 theme-sm-btn"
                                    (click)="shareQuote(success_template)">{{ 'commonBtn.share' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<!-- Success Modal -->
<ng-template #success_template>
    <div class="detail-container-modal modal-md success-info pb-modal">
        <div class="modal-header">
            <div class="close-icon" (click)="successModalRef.hide()">
                <svg>
                    <use xlink:href="#ICON_Cross" />
                </svg>
            </div>
        </div>
        <div class="modal-body succes-container">
            <div class="row">
                <div class="text-center col-md-12">
                    <div>
                        <svg class="icon-blue">
                            <use *ngIf="sharePremium" xlink:href="#ICON_Sent_successfully" />
                            <use *ngIf="savePremium" xlink:href="#ICON_Saved_Successfully" />
                        </svg>
                    </div>
                    <div *ngIf="sharePremium" class="head-md">{{'success_Detail.sharePremium.title'| translate }}</div>
                    <div *ngIf="savePremium" class="head-md">{{'success_Detail.savePremium.title'| translate }}</div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <table>
                        <tr>
                            <td class="theme-label">Quote Number</td>
                            <td class="pl-5 theme-value">34859 83993</td>
                        </tr>
                        <tr>
                            <td class="theme-label">Name</td>
                            <td class="pl-5 theme-value">Mr. Hardik Batra</td>
                        </tr>
                        <tr>
                            <td class="theme-label">Mobile Number</td>
                            <td class="pl-5 theme-value">+91 98290 98280</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12 mt-5">
                    <div class="row">
                        <div class="col-6 col-md-6 d-flex justify-content-center">
                            <button type="button"
                                class="btn primary-btn mr-0 modal-btn theme-sm-btn">{{ 'commonBtn.dashboard' | translate }}</button>
                        </div>
                        <div class="col-6 col-md-6 d-flex justify-content-center">
                            <button (click)="route()" type="button"
                                class="btn primary-btn mr-0 modal-btn theme-sm-btn">{{ 'commonBtn.viewQuotes' | translate }}</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-12 text-center m-30-0">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn primary-btn btn-successModal m-0">Dashboard</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn primary-btn btn-successModal m-0"
                                (click)="route()">Continue</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</ng-template>
<!-- Premium breakup modal start -->
<ng-template #premium_breakup_modal_template>
    <div class="detail-container-modal modal-sm success-info">
        <div class="modal-header">
            <h4 class="modal-title pull-left">
                <span class="text-uppercase">{{ 'premiumBreakupModal.title' | translate }}</span>
            </h4>
            <div class="close-icon" (click)="premiumBreakupModalRef.hide()">
                <svg>
                    <use xlink:href="#ICON_Cross" />
                </svg>
            </div>
        </div>
        <div class="modal-body succes-container preview-details">
            <div class="row brdr-top pt-3">
                <div class="col-md-12">
                    <label class="head-sm">{{ 'premiumBreakupModal.basicCovers.label' | translate }}</label>
                </div>
                <div class="col-md-12">
                    <table aria-hidden="true" class="fw-100 premium-detials-table">
                        <tbody>
                            <tr>
                                <td><span class="head-sm pl-4">{{ 'memberDetails.relationship.self' | translate
                                        }}</span>
                                </td>
                                <td class="theme-value"></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.basePremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.adPremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                            <!-- Spouse -->
                            <tr>
                                <td><span class="head-sm pl-4">{{ 'memberDetails.relationship.spouse' | translate
                                        }}</span>
                                </td>
                                <td class="theme-value"></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.basePremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.adPremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                            <!-- Child 1 -->
                            <tr>
                                <td><span class="head-sm pl-4">{{ 'memberDetails.relationship.child' | translate
                                        }} 1</span>
                                </td>
                                <td class="theme-value"></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.basePremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.adPremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                            <!-- Child 2 -->
                            <tr>
                                <td><span class="head-sm pl-4">{{ 'memberDetails.relationship.child' | translate
                                        }} 2</span>
                                </td>
                                <td class="theme-value"></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.basePremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.adPremium.label' | translate }}</span></td>
                                <td><span class="head-sm"><i class="fa fa-inr"></i>200</span> </td>
                            </tr>

                            <tr class="brdr-top">
                                <td><span class="head-sm pt-3">{{ 'premiumBreakupModal.netPremium.label' | translate
                                        }}</span>
                                </td>
                                <td class="pt-3"><span class="theme-value"><i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.SGST.label' | translate }}</span></td>
                                <td><span class="head-sm">+ <i class="fa fa-inr"></i>2000</span></td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.CGST.label' | translate }}</span></td>
                                <td><span class="head-sm">+ <i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.KFC.label' | translate }}</span></td>
                                <td><span class="head-sm">+ <i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                            <tr>
                                <td><span class="theme-label pl-4">{{
                                        'premiumBreakupModal.discount.label' | translate }}</span></td>
                                <td><span class="head-sm">- <i class="fa fa-inr"></i>200</span> </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="brdr-top">
                                <td class="pt-3"><span class="theme-value">{{ 'premiumBreakupModal.totalPremium.label' |
                                        translate
                                        }}</span></td>
                                <td class="pt-3"><span class="theme-value"><i class="fa fa-inr"></i>5400</span> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 d-flex justify-content-center mt-5">
                    <button type="button" (click)="premiumBreakupModalRef.hide()"
                        class="btn primary-btn theme-sm-btn mr-0">{{
                    'commonBtn.done' | translate }}</button>
                </div>
            </div> -->
        </div>
    </div>
</ng-template>
<!-- Premium breakup modal end -->