<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'memberDetails.title' | translate}}<span class="p-l-md head-date">02/06</span>
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'memberDetails.title' | translate}} </span>
        </div>
        <div class="pull-right">
            <button (click)="routeBackToProposal()" type="button"
                class="link-btn">{{ 'commonBtn.goBackToProposal' | translate }}</button>
        </div>
    </div>
    <!-- Page header end -->

    <form [formGroup]="memberDetailsForm" class="theme-form mt-mobile">
        <div class="theme-card w-100 p-0">
            <div class="card-content">
                <div formArrayName="memberArr"
                    *ngFor="let member of memberDetailsForm.get('memberArr')['controls']; let i = index">
                    <div [formGroupName]="i" class="row" [ngClass]="{'brdr-top': i > 0,'pt-3' : i >0}">
                        <div class="col-md-12 pb-2">
                            <label
                                class="head-sm subtitle subtitle-pl">{{member.get('memberType').value |translate }}</label>
                        </div>
                        <div [ngClass]="{'complete': member.get('title').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'title'+i}}"
                                class="head-sm">{{'memberDetails.proposal.title.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="title"
                                id="{{'title'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('firstName').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'firstName'+i}}"
                                class="head-sm">{{'memberDetails.proposal.firstName.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="firstName" name="{{'firstName'+i}}"
                                id="{{'firstName'+i}}"
                                placeholder="{{'memberDetails.proposal.firstName.placeholder' | translate}}"
                                (keypress)="formatName($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('middleName').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'middleName'+i}}"
                                class="head-sm">{{'memberDetails.proposal.middleName.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="middleName"
                                name="{{'middleName'+i}}" id="{{'middleName'+i}}"
                                placeholder="{{'memberDetails.proposal.middleName.placeholder' | translate}}"
                                (keypress)="formatName($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('lastName').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'lastName'+i}}"
                                class="head-sm">{{'memberDetails.proposal.lastName.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="lastName" name="{{'lastName'+i}}"
                                id="{{'lastName'+i}}"
                                placeholder="{{'memberDetails.proposal.lastName.placeholder' | translate}}"
                                (keypress)="formatName($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('dateOfBirth').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'dateOfBirth'+i}}"
                                class="head-sm">{{'memberDetails.proposal.dateOfBirth.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="dateOfBirth"
                                name="{{'dateOfBirth'+i}}" id="{{'dateOfBirth'+i}}" (keypress)="isNumberKey($event)"
                                (keyup.enter)="formatLikeExcel(member,'dateOfBirth')"
                                (focusout)="formatLikeExcel(member,'dateOfBirth')" placeholder="DD/MM/YYYY"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('gender').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'gender'+i}}"
                                class="head-sm">{{'memberDetails.proposal.gender.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="gender"
                                id="{{'gender'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('maritalStatus').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'maritalStatus'+i}}"
                                class="head-sm">{{'memberDetails.proposal.maritalStatus.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="maritalStatus"
                                id="{{'maritalStatus'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': member.get('relationship').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'relationship'+i}}"
                                class="head-sm">{{'memberDetails.proposal.relationship.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="relationship"
                                id="{{'relationship'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                    <div [formGroupName]="i" class="row"
                        [ngClass]="{'pb-3': i<memberDetailsForm.get('memberArr')['controls'].length -1}">
                        <div class="col-8 col-md-10">
                            <label class="med-ques">{{'memberDetails.historyQues.label' | translate}}</label>
                        </div>
                        <div class="col-4 col-md-2 d-flex-jcenter">
                            <div class="toggle-btn">
                                <input type="checkbox" formControlName="historyResp" id="{{'historyResp'+i}}"
                                    class="switch" />
                                <span class="s-checkbox"></span>
                                <label for="{{'historyResp'+i}}"
                                    class="lbl-off">{{ 'checkbox.no.value' | translate }}</label>
                                <label for="{{'historyResp'+i}}"
                                    class="lbl-on">{{ 'checkbox.yes.value' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save Next Buttons -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button"
                class="btn primary-btn theme-sm-btn mob-text-btn">{{ 'commonBtn.save' | translate }}</button>
            <button (click)="route()" type="button"
                class="btn theme-sm-btn primary-btn mob-btn">{{ 'commonBtn.next' | translate }}</button>
        </div>

    </form>

</div>