
<div class="theme-container" #target>
    <div class="page-title">
        <div class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <div class="head-lg heading">NOTIFICATION</div>
        <div class="pull-right breadcrum">
            <span class="head-sm">Plan Details / </span> <span class="head-sm">Notification</span>
        </div>
    </div>
    <div class="d-flex flex-wrap mt-mobile theme-form w-100 ">
        <!-- <div class=" fw-100   m-t-md col-md-2 pr-0"> -->
            <ng-select class="ngSelectOption l  mr-3  w-mobile-100" placeholder="Select" [items]="notifArr" [searchable]="false">
            </ng-select>
        <!-- </div> -->
        <!-- <div class=" fw-100   m-t-md col-md-2  "> -->
            <ng-select class="ngSelectOption l  d-md-none  mr-3 w-mobile-100 " placeholder="Select" (change)="selectProduct($event)" [items]="productNotification" [searchable]="false"> 
            </ng-select>
        <!-- </div> -->
        <!-- <div class="col m-t-md"> -->
            <button  *ngFor="let notif of productNotification ;let i = index"  [ngClass]="{'active':(notif === selectedButton)}" type="button"
                class="btn  primary-btn sm xs-btn mr-0 table-span-gq mw-95  d-mdInvisible mr-3" (click)="selectProduct(notif)">{{notif}}</button>
        <!-- </div> -->
        <!-- <div class="col "> -->
            <button _ngcontent-bos-c66="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" class="btn m-b-md mob-qlist quotelist-btn  d-none d-md-block"
                style="border-radius: 15px !important;padding: 15px !important;"><img _ngcontent-bos-c66=""
                    src="assets/images/LINEAR ICONS/three-dots-vertical.svg" alt="" class="listMenu-img"></button>
        <!-- </div> -->
    </div>
    <form class="theme-form">
        <div class="theme-card w-100  p-t-md p-r-0">
            <div class="card-content pt-0">
                <div>
                    <div class="disp-flex preview-structure">
                        <ng-container *ngFor="let product of productNotification">
                            <ng-container *ngFor="let notif of productNotifications[product];let i = index">
                                <div class="flex-box-100"  *ngIf="product === selectedButton" >
                                    <div class="fw-100 m-t-sm" >
                                        <label class="rqList-label mb-2">{{notif.label}}</label>
                                        <p class="theme-value-medium color-asqi">
                                            {{notif.value}}
                                            <span class="link-btn pl-2  font-x-s theme-value">{{notif.proposal_number}}</span> {{notif.
                                            br_value}}
                                            <span class="link-btn pl-2 font-x-s theme-value" *ngIf="notif.label === 'Payment Succesful'">123456789</span>
                                        </p>
                                        <p class="theme-value-medium color-asqi">
                                            {{notif.time}}
                                        </p>
                                        <button type="button" class="btn btn-primary sm-btn">{{notif.button}}</button>
                                    </div>
                                </div>
                            </ng-container>
                         
                        </ng-container>

                    </div>
                    <!-- <div class="fw-100 text-center link-btn font-sm mt-3">
                        View All
                    </div> -->
                </div>
            </div>
        </div>
    </form>
</div>
