<div class="theme-container nominee-detail-container">
	<div class="page-title w-100">
		<div class="nav-btn">
			<svg>
				<use xlink:href="#ICON_Arrow" />
			</svg>
		</div>
		<h3 class="head-lg heading text-uppercase">NOMINEE DETAILS<span class="p-l-md head-date">(06/06)</span></h3>
		<div class="pull-right">
			<button type="button" class="link-btn">Go Back To Proposal</button>
		</div>
	</div>
	<form class="theme-form ">
		<div class="nominee-detail block">
			<div class="theme-card full has-form">
				<div class="card-content">
					<div class="w-100 policy-structure">
						<div class="field-two">
							<div class="form-field col-md-6">
								<div for="name" class="head-sm">NAME</div>
								<input type="text" class="form-control">
							</div>
							<div class="form-field col-md-6">
								<div for="dateofbirth" class="head-sm">DATE OF BIRTH</div>
								<input type="text" class="form-control">
							</div>
							<div class="form-field col-md-6">
								<div for="relationshipdroptown" class="head-sm">RELATIONSHIP</div>
								<ng-select>
									<ng-option value="daughter">Daughter</ng-option>
									<ng-option value="son">Son</ng-option>
								</ng-select>
							</div>
							<div class="form-field col-md-6">
								<div for="sharedcontribution" class="head-sm">SHARED CONTRIBUTION</div>
								<input type="text" class="form-control">
							</div>
							<div class="w-100">
								<div class="head-sm m-l ">ENTER APPOINTEE DETAILS</div>
								<div class="head-sm  m-b-md m-l">Since the nominee is a minor.please enter appointee
									details.</div>
							</div>
							<div class="form-field col-md-6">
								<div for="appointeename" class="head-sm">APPOINTEE NAME</div>
								<input type="text" class="form-control">
							</div>
							<div class="form-field col-md-6">
								<div for="relationshiptext" class="head-sm">RELATIONSHIP</div>
								<ng-select>
									<ng-option value="daughter">Daughter</ng-option>
									<ng-option value="son">Son</ng-option>
								</ng-select>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="nominee-detail block">
			<div class="theme-card full has-form">
				<div class="card-content">
					<div class="w-100 policy-structure">
						<button class="close-icon"><svg>
								<use xlink:href="#ICON_Cross" />
							</svg></button>
						<div class="field-two">
							<div class="form-field col-md-6 ">
								<div for="name" class="head-sm">NAME</div>
								<input type="text" class="form-control">
							</div>
							<div class="form-field col-md-6  ">
								<div for="dateofbirth" class="head-sm">DATE OF BIRTH</div>
								<input type="text" class="form-control">
							</div>
							<div class="form-field col-md-6 ">
								<div for="relationshipdroptown" class="head-sm">RELATIONSHIP</div>
								<ng-select>
									<ng-option value="daughter">Daughter</ng-option>
									<ng-option value="son">Son</ng-option>
								</ng-select>
							</div>
							<div class="form-field col-md-6 ">
								<div for="sharedcontribution" class="head-sm">SHARED CONTRIBUTION</div>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="proceed add-btn block">
			<button type="button" class="btn normal-btn m-r-sm">+Add Nominee</button>
		</div>
		<div class="proceed add-btn btn-block primary bg-blue">
			<button type="button" class="btn primary-btn m-r-sm " disabled>Save</button>
			<button type="button" class="btn primary-btn sm" disabled>Next</button>
		</div>
	</form>
</div>