<div class="theme-container">

  <!-- Page header start -->
  <div class="page-title">
    <div (click)="routeBack()" class="nav-btn">
      <svg>
        <use xlink:href="#ICON_Arrow" />
      </svg>
    </div>
    <h3 class="head-lg heading text-uppercase">
      {{'quoteListing.title' | translate}}
    </h3>
    <div class="pull-right breadcrum">
      <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
      <span class="head-sm"> {{'quoteListing.title' | translate}}</span>
    </div>
  </div>
  <!-- Page header end -->

  <!-- Form start -->
  <form [formGroup]="quoteListForm" class="theme-form mt-mobile">
    <div class="row">
      <div class="col-9 col-sm-10 col-md-6 col-lg-8 form-field mb-0">
        <label for="searchInp" class="head-sm">{{'quoteListing.quoteNumber.label' | translate}}</label>
        <input type="text" class="form-control padding-right-40" formControlName="searchInp" id="searchInp"
          autocomplete="off" [(ngModel)]="searchText" placeholder="Date (DD/MM/YYYY), Name, Mobile Number" />
        <label class="search-in-input input-search-icon ql-search-icon">
        </label>
      </div>
      <div class="
            col-3 col-sm-2 col-md-6 col-lg-4
            d-flex-acenter
            filter-icon-wrapper
          ">
        <button type="button" class="btn quotelist-btn icon-filter">
          <svg class="svg-xs">
            <use xlink:href="#ICON_Filter" />
          </svg>
        </button>
      </div>
    </div>
    <div class="premium-card-container premium-card theme-radio mr-0 pt-4">
      <div class="row">
        <div *ngFor="let item of array | paginate: { itemsPerPage: 9, currentPage: page } ; let i = index"
          class="col-md-6 col-lg-4 col-xl-3 mb-4">
          <label class="premium-lbl premium-container mb-0 position-relative">
            <div class="premium-header">
              <div class="premium-type d-flex-acenter ">
                <span class="bg-icon pull-left member-icon">
                  <svg class="svg-xs member-icon-fill">
                    <use xlink:href="#ICON_Self"></use>
                  </svg>
                </span>
                <div class="pull-left ml-3">
                  <div>
                    <span>3 {{ 'convertToProposal.members.label' | translate }}</span>
                  </div>
                </div>
              </div>
              <div class="premium-members d-flex align-items-baseline">
                <div class="theme-label">YESTERDAY</div>
                <span class="">
                  <svg class="icon-yesterday">
                    <use xlink:href="#ICON_Yesterday"></use>
                  </svg>
                </span>
              </div>
            </div>
            <div class="premium-body">
              <div class="premium-text">
                <div class="premium-amt">Premium Amount</div>
                <div class="premium-per-month">
                  <i class="fa fa-inr"></i>100,000.00/-
                </div>
              </div>
              <div class="premium-summary">
                <div class="premium-list">
                  <span class="premium-value">Accident Gaurd +</span>
                  <span class="premium-value">Lorem, ipsum.</span>
                </div>
                <div class="premium-list brdr-bottom">
                  <span class="premium-value">SI Amount</span>
                  <span class="premium-value">1,00,000/-</span>
                </div>
              </div>
            </div>
            <div class="footer w-100 d-inline-block m-t-md">
              <div class="text-center"> <span class="theme-label">NH/Q/H/288801/00228971</span></div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="pull-right pagination-entries mt-mobile">
      <pagination-controls class="my-pagination" (pageChange)="page = $event" [directionLinks]="true" maxSize="9"
        responsive="true" previousLabel="Prev">
      </pagination-controls>
    </div>
  </form>
</div>

<ng-template #sort_filter_template>
  <div class="modal-container py-0 px-0 py-md-4 px-md-2">
    <div class="detail-container-modal modal-sm">
      <div class="modal-header">
        <label class="modal-title">Sort & Filter</label>
        <div class="close-icon" (click)="sortFilterRef.hide()">
          <svg>
            <use xlink:href="#ICON_Cross" />
          </svg>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="sortFilterForm" class="theme-form">
          <div class="row">
            <div class="form-field col-12 sort-filter-group">
              <div class="row justify-content-between">
                <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                  <input formControlName="dateSortType" type="radio" value="ascending" name="dateSortType"
                    id="ascending" [(ngModel)]="selectedFilterParameters" />
                  <label for="ascending" class="radio-height sort-filter-label m-l-none">
                    <div>
                      <svg class="svg-md">
                        <use xlink:href="#ICON_CalenderUp" />
                      </svg>
                    </div>
                    <span class="lbl radio-content p-t-sm">
                      Date <br />
                      Ascending
                    </span>
                  </label>
                </div>
                <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                  <input formControlName="dateSortType" type="radio" value="descending" name="dateSortType"
                    id="descending" [(ngModel)]="selectedFilterParameters" />
                  <label for="descending" class="radio-height sort-filter-label m-l-none">
                    <div>
                      <svg class="svg-md">
                        <use xlink:href="#ICON_CalenderDown" />
                      </svg>
                    </div>
                    <div class="lbl radio-content p-t-sm">
                      Date <br />Descending
                    </div>
                  </label>
                </div>
                <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                  <input formControlName="snoSortType" type="radio" value="sno_ascending" name="snoSortType"
                    id="snoAscending" [(ngModel)]="selectedFilterParameters" />
                  <label for="snoAscending" class="radio-height sort-filter-label m-l-none">
                    <div>
                      <svg class="svg-md">
                        <use xlink:href="#ICON_SerialUp" />
                      </svg>
                    </div>
                    <div class="lbl radio-content p-t-sm">
                      S No <br />
                      Ascending
                    </div>
                  </label>
                </div>
                <div class="mx-2 mb-3 sort-item form-group theme-radio radio-btn">
                  <input formControlName="snoSortType" type="radio" value="sno_descending" name="snoSortType"
                    id="snoDescending" [(ngModel)]="selectedFilterParameters" />
                  <label for="snoDescending" class="radio-height sort-filter-label m-l-none">
                    <div>
                      <svg class="svg-md">
                        <use xlink:href="#ICON_SerialDown" />
                      </svg>
                    </div>
                    <div class="lbl radio-content p-t-sm">
                      S No <br />
                      Descending
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-field mb-0">
              <span class="head-sm color-asqi">Start Date</span>
              <input formControlName="startFromDate" class="form-control text-transform-none text-uppercase" type="date"
                [maxlength]="10" autocomplete="off" placeholder="From date" [(ngModel)]="filterFromDate" />
            </div>
            <div class="col-md-12 form-field mb-0">
              <span class="head-sm color-asqi">End Date</span>
              <input formControlName="endToDate" class="form-control text-transform-none text-uppercase"
                [(ngModel)]="filterToDate" type="date" autocomplete="off" placeholder="To date" />
            </div>
            <div class="form-field col-md-6">
              <span class="head-sm color-asqi">Date</span>
              <input formControlName="endFromDate" type="text" class="form-control" autocomplete="off"
                placeholder="From date" />
            </div>
            <div class="form-field col-md-6 p-t-md">
              <input formControlName="endToDate" type="text" class="form-control" autocomplete="off"
                placeholder="To date" />
            </div>

          </div>
          <div class="row">
            <div class="form-field col-md-6">
              <label class="head-sm">Channel</label>
              <ng-multiselect-dropdown class="dd-multi-select ngSelectOption 1" [(ngModel)]="selectedItemsChannel">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-field col-md-6">
              <label class="head-sm">Location</label>
              <ng-multiselect-dropdown class="dd-multi-select ngSelectOption 1" [(ngModel)]="selectedItems">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-6 pt-2 text-center">
            <button data-dismiss="modal" type="button" class="btn btn-mob primary-btn">
              Apply Filter
            </button>
          </div>
          <div class="col-md-6 pt-2 text-center">
            <button data-dismiss="modal" type="button" class="btn btn-mob primary-btn" (click)="clearAllFilter()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>