
<lib-tagic-styles></lib-tagic-styles>
<app-left-menu></app-left-menu>
<app-header></app-header>
<div class="center-container product-inner-page w-100" #ref>
	<router-outlet (activate)="onActivate($event,ref)"></router-outlet>
</div>

<app-svg-icons></app-svg-icons>