<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'customerDetails.title' | translate}}<span class="p-l-md head-date">01/06</span>
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'customerDetails.title' | translate}} </span>
        </div>
        <div class="pull-right">
            <button (click)="routeBackToProposal()" type="button"
                class="link-btn">{{ 'commonBtn.goBackToProposal' | translate }}</button>
        </div>
    </div>
    <!-- Page header end -->

    <form [formGroup]="customerDetailsForm" class="theme-form mt-mobile">
        <div class="theme-card w-100 p-0">
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label class="head-sm subtitle subtitle-pl">{{'customerDetails.title' | translate}}</label>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('salutation').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="salutation"
                            class="head-sm">{{'customerDetails.salutation.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="salutation"
                            id="salutation" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('firstName').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="firstName" class="head-sm">{{'customerDetails.firstName.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="firstName" name="firstName"
                            id="firstName" placeholder="{{'customerDetails.firstName.placeholder' | translate}}"
                            (keypress)="formatName($event)" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('middleName').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="middleName"
                            class="head-sm">{{'customerDetails.middleName.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="middleName" name="middleName"
                            id="middleName" placeholder="{{'customerDetails.middleName.placeholder' | translate}}"
                            (keypress)="formatName($event)" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('lastName').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="lastName" class="head-sm">{{'customerDetails.lastName.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName"
                            placeholder="{{'customerDetails.lastName.placeholder' | translate}}"
                            (keypress)="formatName($event)" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('dateOfBirth').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="dateOfBirth"
                            class="head-sm">{{'customerDetails.dateOfBirth.label' | translate}}</label>
                        <input #dateOfBirth type="text" class="form-control" formControlName="dateOfBirth"
                            name="dateOfBirth" id="dateOfBirth" (keypress)="isNumberKey($event)"
                            (keyup.enter)="formatLikeExcel('dateOfBirth')" (focusout)="formatLikeExcel('dateOfBirth')"
                            placeholder="DD/MM/YYYY" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('gender').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="gender" class="head-sm">{{'customerDetails.gender.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="gender" id="gender"
                            placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('maritalStatus').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="maritalStatus"
                            class="head-sm">{{'customerDetails.maritalStatus.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="maritalStatus"
                            id="maritalStatus" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('occupation').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="occupation"
                            class="head-sm">{{'customerDetails.occupation.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="occupation"
                            id="occupation" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('affiliationType').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="affiliationType"
                            class="head-sm">{{'customerDetails.affiliationType.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="affiliationType"
                            id="affiliationType" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('companyName').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="companyName"
                            class="head-sm">{{'customerDetails.companyName.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="companyName" name="companyName"
                            id="companyName" placeholder="{{'customerDetails.companyName.placeholder' | translate}}"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('employeeID').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="employeeID"
                            class="head-sm">{{'customerDetails.employeeID.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="employeeID" name="employeeID"
                            id="employeeID" placeholder="{{'customerDetails.employeeID.placeholder' | translate}}"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('uploadImage').get('imageName').value}"
                        class="form-field col-md-6 col-lg-4 col-xl-3">
                        <label
                            class="head-sm text-uppercase">{{'customerDetails.uploadImage.label' | translate}}</label>
                        <div formGroupName="uploadImage" class="custom-file">
                            <input type="file" accept="image/jpeg,image/png" (change)="onFileChange($event)"
                                class="custom-file-input" id="customFile">
                            <label *ngIf="!customerDetailsForm.get('uploadImage').get('imageName').value"
                                class="custom-file-label form-control" for="customFile"><svg
                                    class="icon-uploadFile m-r-sm">
                                    <use xlink:href="#ICON_FileUpload" />
                                </svg>Upload file</label>
                            <label *ngIf="customerDetailsForm.get('uploadImage').get('imageName').value"
                                class="custom-file-label form-control file-label-selected" for="customFile"><span
                                    class="text-truncate">{{customerDetailsForm.get('uploadImage').get('imageName').value}}</span>
                                <span><button (click)="removeDocFile()"
                                        class="btn font-sm link-btn text-uppercase">Remove</button></span>
                            </label>
                            <span class="error-msg file-err-msg">
                                Required *
                            </span>
                        </div>
                    </div>
                </div>
                <div formGroupName="contactDetails" class="row">
                    <div class="col-md-12 pb-2 upload-file-mt">
                        <label
                            class="head-sm subtitle subtitle-pl">{{'customerDetails.contactDetails.subtitle' | translate}}</label>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('contactDetails').get('emialID').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="emialID"
                            class="head-sm">{{'customerDetails.contactDetails.emialID.label' | translate}}</label>
                        <input type="email" class="form-control" formControlName="emialID" name="emialID" id="emialID"
                            placeholder="{{'customerDetails.contactDetails.emialID.placeholder' | translate}}"
                            (keypress)="formatEmail($event)" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('contactDetails').get('mobileNumber').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="mobileNumber"
                            class="head-sm">{{'customerDetails.contactDetails.mobileNumber.label' | translate}}</label>
                        <input type="number" class="form-control" formControlName="mobileNumber" name="mobileNumber"
                            id="mobileNumber"
                            placeholder="{{'customerDetails.contactDetails.mobileNumber.placeholder' | translate}}"
                            (keypress)="isNumberKey($event)" autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                </div>
                <div formGroupName="communicationAddress" class="row">
                    <div class="col-md-12 pb-2">
                        <label
                            class="head-sm subtitle subtitle-pl">{{'customerDetails.communicationAddress.subtitle' | translate}}</label>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('pincode').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="pincode"
                            class="head-sm">{{'customerDetails.communicationAddress.pincode.label' | translate}}</label>
                        <input type="number" class="form-control" formControlName="pincode" name="pincode" id="pincode"
                            placeholder="{{'customerDetails.communicationAddress.pincode.placeholder' | translate}}"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('addressLine_1').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="addressLine_1"
                            class="head-sm">{{'customerDetails.communicationAddress.addressLine.label' | translate}}
                            1</label>
                        <input type="text" class="form-control" formControlName="addressLine_1" name="addressLine_1"
                            id="addressLine_1"
                            placeholder="{{'customerDetails.communicationAddress.addressLine.placeholder' | translate}} 1"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('addressLine_2').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="addressLine_2"
                            class="head-sm">{{'customerDetails.communicationAddress.addressLine.label' | translate}}
                            2</label>
                        <input type="text" class="form-control" formControlName="addressLine_2" name="addressLine_2"
                            id="addressLine_2"
                            placeholder="{{'customerDetails.communicationAddress.addressLine.placeholder' | translate}} 3"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('addressLine_3').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="addressLine_3"
                            class="head-sm">{{'customerDetails.communicationAddress.addressLine.label' | translate}}
                            3</label>
                        <input type="text" class="form-control" formControlName="addressLine_3" name="addressLine_3"
                            id="addressLine_3"
                            placeholder="{{'customerDetails.communicationAddress.addressLine.placeholder' | translate}} 3"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('townCity').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="townCity"
                            class="head-sm">{{'customerDetails.communicationAddress.townCity.label' | translate}}</label>
                        <input type="text" class="form-control" formControlName="townCity" name="townCity" id="townCity"
                            placeholder="{{'customerDetails.communicationAddress.townCity.placeholder' | translate}}"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': customerDetailsForm.get('communicationAddress').get('state').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="state"
                            class="head-sm">{{'customerDetails.communicationAddress.state.label' | translate}}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="state" id="state"
                            placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                        </ng-select>
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="check-default">
                            <input type="checkbox" formControlName="customerProposer" class="checkbox"
                                id="customerProposer">
                            <label class="font-poppins-medium theme-value" for="customerProposer">{{'customerDetails.customerProposer.checkbox' |
                                    translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button"
                class="btn primary-btn theme-sm-btn mob-text-btn">{{ 'commonBtn.save' | translate }}</button>
            <button (click)="route()" type="button"
                class="btn theme-sm-btn primary-btn mob-btn">{{ 'commonBtn.next' | translate }}</button>
        </div>

    </form>

</div>