table 
    width: 100%
  
.mat-table
    background: inherit !important

.border-none
    border: none !important    

tr.expandable-row
    height: 0
  
.expandable-row-detail 
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
  
.collapsed.border-as-bottom:nth-last-child(2)
    border: none !important

.pt-10px
    padding-top: 10px

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type
    padding-left: 0px !important

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type
    padding-right: 0px !important            

.background-expanded
    background: #F5F5F5 !important    

.status-resolved
    color : #62C87A !important