<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'nomineeDetails.title' | translate}}<span class="p-l-md head-date">03/06</span>
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'nomineeDetails.title' | translate}} </span>
        </div>
        <div class="pull-right">
            <button (click)="routeBackToProposal()" type="button"
                class="link-btn">{{ 'commonBtn.goBackToProposal' | translate }}</button>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Form Starts -->
    <form [formGroup]="nomineeDetailsForm" class="theme-form mt-mobile">
        <div formArrayName="nomineeArr"
            *ngFor="let nominee of nomineeDetailsForm.get('nomineeArr')['controls']; let i =index">
            <div [formGroupName]="i" class="theme-card w-100 p-0" [ngClass]="{'mt-4': i>0}">
                <div class="card-content input-card-content">
                    <div formGroupName="nomineeDetails" class="row">
                        <div class="col-md-12 pb-2">
                            <label
                                class="head-sm subtitle subtitle-pl">{{'nomineeDetails.nominee.subtitle' | translate}}
                                {{i+1}} {{'nomineeDetails.details.subtitle' | translate}}</label>
                            <button *ngIf="i>0" (click)="removeNomineeArrBtn(i)" type="button"
                                class="btn link-btn pull-right">{{ 'commonBtn.delete' | translate }}</button>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('name').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'name'+i}}"
                                class="head-sm">{{'nomineeDetails.name.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="name" name="{{'name'+i}}"
                                id="{{'name'+i}}" placeholder="{{'nomineeDetails.name.placeholder' | translate}}"
                                (keypress)="formatName($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('dateOfBirth').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'dateOfBirth'+i}}"
                                class="head-sm">{{'nomineeDetails.dateOfBirth.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="dateOfBirth"
                                name="{{'dateOfBirth'+i}}" id="{{'dateOfBirth'+i}}" (keypress)="isNumberKey($event)"
                                (keyup.enter)="formatLikeExcel(nominee,'dateOfBirth')"
                                (focusout)="formatLikeExcel(nominee,'dateOfBirth')" placeholder="DD/MM/YYYY"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('gender').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'gender'+i}}"
                                class="head-sm">{{'nomineeDetails.gender.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="gender"
                                id="{{'gender'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('relationshipWithProposer').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'relationshipWithProposer'+i}}"
                                class="head-sm">{{'nomineeDetails.relationshipWithProposer.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false"
                                formControlName="relationshipWithProposer" id="{{'relationshipWithProposer'+i}}"
                                placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('nomineeAddress').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'nomineeAddress'+i}}"
                                class="head-sm">{{'nomineeDetails.nomineeAddress.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="nomineeAddress"
                                name="{{'nomineeAddress'+i}}" id="{{'nomineeAddress'+i}}"
                                placeholder="{{'nomineeDetails.nomineeAddress.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('nomineeDetails').get('percentageShare').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'percentageShare'+i}}"
                                class="head-sm">{{'nomineeDetails.percentageShare.label' | translate}}</label>
                            <input type="number" class="form-control" formControlName="percentageShare"
                                name="{{'percentageShare'+i}}" id="{{'percentageShare'+i}}"
                                placeholder="{{'nomineeDetails.percentageShare.placeholder' | translate}}"
                                (keypress)="isNumberKey($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="nominee.get('displayAppointeeFlag').value" formGroupName="appointeeDetails"
                        class="row mt-3">
                        <div class="col-md-12 preview-details pb-4">
                            <label
                                class="head-sm subtitle subtitle-pl">{{'nomineeDetails.appointeeDetails.subtitle' | translate}}</label>
                            <span
                                class="theme-label d-block subtitle-pl subtitle-disclaimer">{{'nomineeDetails.appointeeDetails.disclaimer' | translate}}</span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('appointeeDetails').get('appointeeName').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'appointeeName'+i}}"
                                class="head-sm">{{'nomineeDetails.appointeeName.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="appointeeName"
                                name="{{'appointeeName'+i}}" id="{{'appointeeName'+i}}"
                                placeholder="{{'nomineeDetails.appointeeName.placeholder' | translate}}"
                                (keypress)="formatName($event)" autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('appointeeDetails').get('relationshipWithNominee').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'relationshipWithNominee'+i}}"
                                class="head-sm">{{'nomineeDetails.relationshipWithNominee.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false"
                                formControlName="relationshipWithNominee" id="{{'relationshipWithNominee'+i}}"
                                placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': nominee.get('appointeeDetails').get('appointeeAddress').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'appointeeAddress'+i}}"
                                class="head-sm">{{'nomineeDetails.appointeeAddress.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="appointeeAddress"
                                name="{{'appointeeAddress'+i}}" id="{{'appointeeAddress'+i}}"
                                placeholder="{{'nomineeDetails.appointeeAddress.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Nominee Button -->
        <div class="row pt-4">
            <div class="col-md-12">
                <button (click)="addNominee()" type="button"
                    class="btn link-btn">{{'nomineeDetails.addNoimneeBtn' | translate}}</button>
            </div>
        </div>

        <!-- Save Next Buttons -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button"
                class="btn primary-btn theme-sm-btn mob-text-btn">{{ 'commonBtn.save' | translate }}</button>
            <button (click)="route()" type="button"
                class="btn theme-sm-btn primary-btn mob-btn">{{ 'commonBtn.next' | translate }}</button>
        </div>

    </form>
    <!-- Form Ends -->

</div>