<div class="theme-container detail-list-container">
   <div class="page-title w-100">
      <div class="nav-btn">
         <svg>
            <use xlink:href="#ICON_Arrow" />
         </svg>
      </div>
      <h3 class="head-lg heading text-uppercase">MAHENDRA SINGH SHEKAWAT<span class="p-l-md head-date">288801</span>
      </h3>
   </div>
   <tabset [justified]="true" class="theme-tab">
      <tab customClass="tab-item quotes">
         <ng-template tabHeading>
            <span>QUOTES</span>
         </ng-template>
         <div class="detail-list-content block">
            <div class="form-group m-t-sm w-100" style="margin-bottom: 15px !important">
               <div class="filter-group">
                  <div class="input-group">
                     <div for="quotenumber" class="head-sm">QUOTE NUMBER</div>
                     <input class="form-control" id="" placeholder="Quote Number" aria-label="Input group" type="text">
                     <div class="input-group-append">
                        <img alt="" src="assets/images/LINEAR ICONS/ICON_Search.svg" class="birthday-img">
                     </div>
                  </div>
                  <div class="filter">
                     <span class="info-icon m-r-sm pull-left">
                        <svg>
                           <use xlink:href="#ICON_Self" />
                        </svg>
                     </span>
                  </div>
               </div>

            </div>
            <div class="w-100 d-inline-block m-l-md">
               <span><button type="button" class="btn quotelist-btn">Send</button></span>
               <span><button type="button" class="btn quotelist-btn">Saved</button></span>
               <span><button type="button" class="btn quotelist-btn">Car</button></span>
               <span><button type="button" class="btn quotelist-btn">Medicare</button></span>
               <span><button type="button" class="btn quotelist-btn">2 wheeler</button></span>
               <span><button type="button" class="btn quotelist-btn">Gold</button></span>
            </div>
            <form class="theme-form m-t-lg">
               <div class="medicare">
                  <div class="premium-card-container">
                     <div class=" theme-radio premium-card ">
                        <input type="radio" id="premier1" name="medicare" checked>
                        <label class="premium-lbl" for="premier1">
                           <div class="premium-container" id="container1">
                              <div class="premium-header" id="header1">
                                 <div class="premium-type" id="type1">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="iconttool11">
                                          <svg>
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>4 Members</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb1">
                                    <div class="pull-left">
                                       <div>YESTERDAY</div>
                                    </div>
                                    <span class="info-icon" id="icontool12">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body" id="body1">
                                 <div class="premium-text" id="pretext1">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 10,000/m</div>
                                 </div>
                                 <div class="premium-summary" id="summary1">
                                    <div class="premium-list" id="prelist11">
                                       <span class="theme-lbl">Medicare Protect</span><span
                                          class="premium-value">Floater</span>
                                    </div>
                                    <div class="premium-list" id="prelist12">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260482</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card " id="card2">
                        <input type="radio" id="premier2" name="medicare" checked>
                        <label class="premium-lbl" for="premier2">
                           <div class="premium-container" id="container2">
                              <div class="premium-header" id="hearder2">
                                 <div class="premium-type" id="type2">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="icontool21">
                                          <svg>
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>5 Members</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb2">
                                    <div class="pull-left">
                                       <div>TODAY</div>
                                    </div>
                                    <span class="info-icon" id="icontool22">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body">
                                 <div class="premium-text">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 20,000/y</div>
                                 </div>
                                 <div class="premium-summary" id="pre_summary2">
                                    <div class="premium-list" id="prelist21">
                                       <span class="theme-lbl">Sapphire+</span><span class="premium-value">1Year Od
                                          3Year Tp</span>
                                    </div>
                                    <div class="premium-list" id="prelist22">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260483</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card" id="card3">
                        <input type="radio" id="premier3" name="medicare" checked>
                        <label class="premium-lbl" for="premier3">
                           <div class="premium-container" id="container3">
                              <div class="premium-header" id="header3">
                                 <div class="premium-type" id="type3">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="icontool31">
                                          <svg id="too_31">
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>MH 01 AR 8564</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb3">
                                    <div class="pull-left">
                                       <div>28/5/20</div>
                                    </div>
                                    <span class="info-icon" id="icontool32">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebody3">
                                 <div class="premium-text" id="pretext3">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 30,000/y</div>
                                 </div>
                                 <div class="premium-summary" id="pre_summary3">
                                    <div class="premium-list" id="prelist31">
                                       <span class="theme-lbl">Gold</span><span class="premium-value">1Year Od 3Year
                                          Tp</span>
                                    </div>
                                    <div class="premium-list" id="prelist32">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260482</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card " id="card4">
                        <input type="radio" id="premier4" name="medicare" checked>
                        <label class="premium-lbl" for="premier4">
                           <div class="premium-container" id="container4">
                              <div class="premium-header" id="header4">
                                 <div class="premium-type" id="type4">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="icontool41">
                                          <svg>
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>4 Members</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb4">
                                    <div class="pull-left">
                                       <div>YESTERDAY</div>
                                    </div>
                                    <span class="info-icon" id="icontool42">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebody4">
                                 <div class="premium-text" id="pretext4">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 10,000/m</div>
                                 </div>
                                 <div class="premium-summary" id="pre_summary4">
                                    <div class="premium-list" id="prelist41">
                                       <span class="theme-lbl">Medicare Protect</span><span
                                          class="premium-value">Floater</span>
                                    </div>
                                    <div class="premium-list" id="prelist42">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260482</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card" id="card5">
                        <input type="radio" id="premier5" name="medicare" checked>
                        <label class="premium-lbl" for="premier5">
                           <div class="premium-container" id="container5">
                              <div class="premium-header" id="header5">
                                 <div class="premium-type" id="type5">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="icontool51">
                                          <svg>
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>4 Members</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb5">
                                    <div class="pull-left">
                                       <div>TODAY</div>
                                    </div>
                                    <span class="info-icon" id="icontool52">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebody5">
                                 <div class="premium-text" id="pretext5">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 10,000/y</div>
                                 </div>
                                 <div class="premium-summary" id="presummary5">
                                    <div class="premium-list" id="prelist51">
                                       <span class="theme-lbl">Sapphire+</span><span class="premium-value">1Year Od
                                          3Year Tp</span>
                                    </div>
                                    <div class="premium-list" id="prelist52">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260482</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card " id="card6">
                        <input type="radio" id="premier6" name="medicare" checked>
                        <label class="premium-lbl" for="premier6">
                           <div class="premium-container" id="container6">
                              <div class="premium-header" id="header6">
                                 <div class="premium-type" id="type6">
                                    <div class="pull-left p-r-sm">
                                       <span class="info-icon" id="icontool61">
                                          <svg>
                                             <use xlink:href="#ICON_tool_tip" />
                                          </svg>
                                       </span>
                                    </div>
                                    <div class="pull-left">
                                       <div>MH 01 AR 8564</div>
                                    </div>
                                 </div>
                                 <div class="premium-members" id="memb6">
                                    <div class="pull-left">
                                       <div>28/5/20</div>
                                    </div>
                                    <span class="info-icon" id="icontool62">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebody6">
                                 <div class="premium-text" id="pretext6">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">₹ 10,000/y</div>
                                 </div>
                                 <div class="premium-summary" id="presummary6">
                                    <div class="premium-list" id="prelist61">
                                       <span class="theme-lbl">Gold</span><span class="premium-value">1Year Od 3Year
                                          Tp</span>
                                    </div>
                                    <div class="premium-list" id="prelist62">
                                       <span class="text-center theme-lbl">NB/Q/M/288801/0000260482</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </tab>
      <tab customClass="tab-item draft">
         <ng-template tabHeading>
            <span>DRAFT</span>
         </ng-template>
         <div class="detail-list-container" id="container_detail_list">
            <div class="form-group m-t-sm w-100">
               <div class="filter-group">
                  <div class="input-group">
                     <div for="quotenumber" class="head-sm">QUOTE NUMBER</div>
                     <input class="form-control" id="quotenumber" placeholder="Quote Number" aria-label="Input group"
                        type="text">
                     <div class="input-group-append">
                        <img alt="" src="assets/images/LINEAR ICONS/ICON_Search.svg" class="birthday-img">
                     </div>
                  </div>
               </div>
               <div class="filter">
                  <span class="info-icon m-r-sm pull-left">
                     <svg>
                        <use xlink:href="#ICON_Self" />
                     </svg>
                  </span>
               </div>
            </div>
            <div class="w-100 d-inline-block  m-l-md">
               <span><button type="button" class="btn quotelist-btn">Send</button></span>
               <span><button type="button" class="btn quotelist-btn">Saved</button></span>
               <span><button type="button" class="btn quotelist-btn">Car</button></span>
               <span><button type="button" class="btn quotelist-btn">Medicare</button></span>
               <span><button type="button" class="btn quotelist-btn">2 wheeler</button></span>
               <span><button type="button" class="btn quotelist-btn">Gold</button></span>
            </div>
            <form class="theme-form m-t-lg">
               <div class="medicare">
                  <div class="head-sm">RECOMMENDED PLAN</div>
                  <div class="premium-card-container">
                     <div class=" theme-radio premium-card ">
                        <input type="radio" id="premier" name="medicare" checked>
                        <label class="premium-lbl" for="premier">
                           <div class="premium-container">
                              <div class="premium-header">
                                 <div class="premium-type">
                                    <div class="pull-left">
                                       <div>Medi Care</div>
                                       <div>Premier</div>
                                    </div>
                                    <span class="info-icon">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                                 <div class="premium-members">
                                    <span>4 Members</span>
                                 </div>
                              </div>
                              <div class="premium-body">
                                 <div class="premium-text">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">10,000/m</div>
                                 </div>
                                 <div class="premium-summary">
                                    <div class="premium-list">
                                       <span class="theme-lbl">Accommodation Type</span><span
                                          class="premium-value">Shared</span>
                                    </div>
                                    <div class="premium-list">
                                       <span class="theme-lbl">Accidental death rider</span><span
                                          class="premium-value">Yes</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card" id="premium_card_care">
                        <input type="radio" id="care" name="medicare">
                        <label class="premium-lbl" for="care">
                           <div class="premium-container" id="container_care">
                              <div class="premium-header" id="header_care">
                                 <div class="premium-type" id="type_care">
                                    <div class="pull-left">
                                       <div>Medi Care</div>
                                       <div></div>
                                    </div>
                                    <span class="info-icon" id="icontoolcare1">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                                 <div class="premium-members" id="memb_care">
                                    <span>4 Members</span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebodey_care">
                                 <div class="premium-text" id="pretext_care">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">3,900/m</div>
                                 </div>
                                 <div class="premium-summary" id="pre_summary_care">
                                    <div class="premium-list">
                                       <span class="theme-lbl">Accommodation Type</span><span
                                          class="premium-value">Shared</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="premium-footer" id="footer_care">
                                 <div class="addons text-center">Add Ons / Modify Cover</div>
                              </div>
                           </div>
                        </label>
                     </div>
                     <div class=" theme-radio premium-card" id="premium_card_product">
                        <input type="radio" id="product" name="medicare">
                        <label class="premium-lbl" for="product">
                           <div class="premium-container" id="container_product">
                              <div class="premium-header" id="header_product">
                                 <div class="premium-type" id="type_product">
                                    <div class="pull-left">
                                       <div>Medi Care</div>
                                       <div>Protect</div>
                                    </div>
                                    <span class="info-icon" id="icontoolprodcut1">
                                       <svg>
                                          <use xlink:href="#ICON_tool_tip" />
                                       </svg>
                                    </span>
                                 </div>
                                 <div class="premium-members" id="memb_product">
                                    <span>4 Members</span>
                                 </div>
                              </div>
                              <div class="premium-body" id="prebody_product">
                                 <div class="premium-text" id="pretext_product">
                                    <div class="premium-amt">Premium Amount</div>
                                    <div class="premium-per-month">3,900/m</div>
                                 </div>
                                 <div class="premium-summary" id="pretext_summary">
                                    <div class="premium-list" id="prelistsumm1">
                                       <span class="theme-lbl">Accommodation Type</span><span
                                          class="premium-value">Shared</span>
                                    </div>
                                    <div class="premium-list" id="prelistsumm2">
                                       <span class="theme-lbl">Accidental death rider</span><span
                                          class="premium-value">Yes</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="premium-footer" id="prefooter_product">
                                 <div class="addons text-center">Add Ons / Modify Cover</div>
                              </div>
                           </div>
                        </label>
                     </div>
                  </div>
               </div>
               <div class="block">
                  <div class="w-100 add-btn">
                     <button type="button" class="btn normal-btn" style="min-width:350px">+ Additional Discount</button>
                  </div>
                  <div class="note theme-value m-t fw-50">
                     <div class="head-sm">DISCLAIMER*</div>
                     <p>Condition/s excluded shall mean any claims in respect to any disorder, disease, disability, or
                        treatment whether directly or indirectly caused by or attributable to the mentioned condition/s,
                        its complications & related disorders.</p>
                  </div>
               </div>
               <div class="btn-block primary bg-blue">
                  <button type="button" class="btn primary-btn sm m-r-sm">Save</button>
                  <button type="button" class="btn primary-btn sm m-r-sm">Share(03)</button>
               </div>
            </form>
         </div>
      </tab>
      <tab customClass="tab-item favouitequotes">
         <ng-template tabHeading>
            <span>FAVOUITE QUOTES</span>
         </ng-template>
         <div class="detail-list-container" id="container_fav">
            <div class="form-group m-t-sm w-100">
               <div class="filter-group">
                  <div class="input-group">
                     <div for="quotenumber_fav" class="head-sm">QUOTE NUMBER</div>
                     <input class="form-control" id="quotenumber_fav" placeholder="Quote Number"
                        aria-label="Input group" type="text">
                     <div class="input-group-append">
                        <img alt="" src="assets/images/LINEAR ICONS/ICON_Search.svg" class="birthday-img">
                     </div>
                  </div>
               </div>
               <div class="filter">
                  <span class="info-icon m-r-sm pull-left">
                     <svg>
                        <use xlink:href="#ICON_Self" />
                     </svg>
                  </span>
               </div>
            </div>
            <div class="w-100 d-inline-block m-l-md">
               <span><button type="button" class="btn quotelist-btn">Send</button></span>
               <span><button type="button" class="btn quotelist-btn">Saved</button></span>
               <span><button type="button" class="btn quotelist-btn">Car</button></span>
               <span><button type="button" class="btn quotelist-btn">Medicare</button></span>
               <span><button type="button" class="btn quotelist-btn">2 wheeler</button></span>
               <span><button type="button" class="btn quotelist-btn">Gold</button></span>
            </div>
         </div>
      </tab>
   </tabset>
</div>