<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'memberDetails.title' | translate}}
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'memberDetails.title' | translate}}</span>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Form start -->
    <form [formGroup]="memberDetailsForm" class="theme-form mt-mobile">

        <!-- Checkboxes start -->
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 pb-4 pb-md-0">
                <div class="check-default">
                    <input type="checkbox" formControlName="memberIsEmployee" class="checkbox" id="memberIsEmployee">
                    <label class="font-poppins-medium theme-value" for="memberIsEmployee">{{'memberDetails.memberCheckbox.label' |
                            translate}}</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pb-4 pb-md-0">
                <div class="check-default">
                    <input type="checkbox" formControlName="selfNotIncluded" (change)="isSelfNotIncluded()"
                        class="checkbox" id="selfNotIncluded">
                    <label class="font-poppins-medium theme-value" for="selfNotIncluded">{{'memberDetails.selfCheckbox.label' |
                            translate}}</label>
                </div>
            </div>
        </div>
        <!-- Checkboxes end -->

        <!-- Relationship checkbox start -->
        <div class="select-relationship block">
            <div class="row mt-4">
                <div class="col-md-12">
                    <label class="head-sm subtitle">{{'memberDetails.relationship.heading' |
                                translate}}</label>
                </div>

                <div class="col-12 scrollable-section-x">
                    <div *ngIf="!memberDetailsForm.value.selfNotIncluded" class="d-inline-block">
                        <div class="theme-check round">
                            <input type="checkbox" [checked]="memberDetailsForm.value.self" class="button"
                                (change)="selfChecked()" formControlName="self" id="checkbox" name="checkbox">
                            <label class="theme-value font-poppins-medium round"
                                [ngClass]="{'step-completed': memberDetailsForm.value.self}" for="checkbox">
                                <svg class="icon-center">
                                    <use xlink:href="#ICON_Self" />
                                </svg>
                            </label>
                            <span class="lbl">{{'memberDetails.relationship.self' |
                                translate}}</span>
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <div class="theme-check round">
                            <input type="checkbox" [checked]="memberDetailsForm.value.spouse" class="button"
                                formControlName="spouse" (change)="relationshipCheckBox('spouse')" id="checkboxSpouse"
                                name="checkboxSpouse">
                            <label class="theme-value font-poppins-medium label-checked round"
                                [ngClass]="{'step-completed': memberDetailsForm.value.spouse}" for="checkboxSpouse">
                                <svg class="icon-center">
                                    <use xlink:href="#ICON_Mother" />
                                </svg>
                            </label>
                            <span class="lbl">{{'memberDetails.relationship.spouse' |
                                translate}}</span>
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <div class="theme-check round">
                            <input type="checkbox" [checked]="memberDetailsForm.value.child_1" class="button"
                                formControlName="child_1" (change)="relationshipCheckBox('child_1')"
                                id="checkboxChild_1" name="checkboxChild_1">
                            <label class="theme-value font-poppins-medium label-checked round"
                                [ngClass]="{'step-completed': memberDetailsForm.value.child_1}" for="checkboxChild_1">
                                <svg class="icon-center">
                                    <use xlink:href="#ICON_Son" />
                                </svg>
                            </label>
                            <span class="lbl">{{'memberDetails.relationship.child' |
                                translate}}</span>
                            <span *ngIf="childCount" class="select-mem-cnt">{{childCount}}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Relationship checkbox start -->

        <!-- DOB card(s) start -->
        <div class="spouse-member">
            <div class="row">
                <!-- SELF -->
                <div *ngIf="memberDetailsForm.value.self" class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="theme-card w-100 p-0">
                        <div class="card-content">
                            <div class="row">
                                <div [ngClass]="{'complete': memberDetailsForm.value.self_dob}"
                                    class="form-field col-md-12">
                                    <label for="self_dob" class="head-sm">{{'memberDetails.memberCard.primaryDOB.label' |
                                    translate}}</label>
                                    <input #date1 type="text" formControlName="self_dob" class="form-control"
                                        name="self_dob" id="self_dob" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="formatLikeExcel('self')" (focusout)="formatLikeExcel('self')"
                                        placeholder="DD/MM/YYYY" autocomplete="off">
                                    <span class="error-msg">
                                        {{'commonText.requiredError' | translate}}
                                    </span>
                                </div>
                                <div [ngClass]="{'complete': memberDetailsForm.value.selfRiskClass}"
                                    class="form-field col-md-12">
                                    <label for="selfRiskClass" class="head-sm">{{'memberDetails.memberCard.riskClass.label' |
                                    translate}}</label>
                                    <ng-select [items]="amtArr" formControlName="selfRiskClass" [searchable]="false"
                                        placeholder="{{'commonText.select.placeholder' | translate}}" id="selfRiskClass"
                                        (keypress)="isNumberKey($event)">
                                    </ng-select>
                                    <span class="error-msg">
                                        {{'commonText.requiredError' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label
                                        class="med-ques">{{'memberDetails.memberCard.historyQues' | translate}}</label>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="toggle-btn">
                                        <input type="checkbox" formControlName="selfHistoryQuesRep"
                                            id="selfHistoryQuesRep" class="switch" />
                                        <span class="s-checkbox"></span>
                                        <label for="selfHistoryQuesRep"
                                            class="lbl-off">{{ 'checkbox.no.value' | translate }}</label>
                                        <label for="selfHistoryQuesRep"
                                            class="lbl-on">{{ 'checkbox.yes.value' | translate }}</label>
                                    </div>
                                </div>
                                <div *ngIf="addRiderMemberObj['self']['addRiderFlag']" class="col-md-10 mt-4">
                                    <button (click)="addRiderBtn('self')" class="close-icon addrider-close-btn">
                                        <svg>
                                            <use xlink:href="#ICON_Cross" />
                                        </svg>
                                    </button>
                                    <div class="membercard-addrider">
                                        <label>Temporary Total Disability</label>
                                    </div>
                                </div>
                                <div *ngIf="!addRiderMemberObj['self']['addRiderFlag']" class="col-md-12 mt-3">
                                    <button (click)="addRiderBtn('self')" type="button"
                                        class="btn link-btn">{{'memberDetails.memberCard.addRider.btn' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Spouse -->
                <div *ngIf="memberDetailsForm.value.spouse" class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="theme-card w-100 p-0">
                        <div class="card-content">
                            <div class="row">
                                <button (click)="closeCard('spouse')" class="close-icon">
                                    <svg>
                                        <use xlink:href="#ICON_Cross" />
                                    </svg>
                                </button>
                                <div [ngClass]="{'complete': memberDetailsForm.value.spouse_dob}"
                                    class="form-field col-md-12">
                                    <label for="spouse_dob" class="head-sm">{{'memberDetails.memberCard.spouseDOB.label' |
                                        translate}}</label>
                                    <input #date2 type="text" formControlName="spouse_dob" class="form-control"
                                        name="spouse_dob" id="spouse_dob" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="formatLikeExcel('spouse')" (focusout)="formatLikeExcel('spouse')"
                                        placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                <div [ngClass]="{'complete': memberDetailsForm.value.spouseRiskClass}"
                                    class="form-field col-12">
                                    <label for="spouseRiskClass" class="head-sm">{{'memberDetails.memberCard.riskClass.label' |
                                    translate}}</label>
                                    <ng-select [items]="amtArr" formControlName="spouseRiskClass" [searchable]="false"
                                        placeholder="{{'commonText.select.placeholder' | translate}}"
                                        id="spouseRiskClass" (keypress)="isNumberKey($event)">
                                    </ng-select>
                                    <span class="error-msg">
                                        {{'commonText.requiredError' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label
                                        class="med-ques">{{'memberDetails.memberCard.historyQues' | translate}}</label>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="toggle-btn">
                                        <input type="checkbox" formControlName="spouseHistoryQuesRep"
                                            id="spouseHistoryQuesRep" class="switch" />
                                        <span class="s-checkbox"></span>
                                        <label for="spouseHistoryQuesRep"
                                            class="lbl-off">{{ 'checkbox.no.value' | translate }}</label>
                                        <label for="spouseHistoryQuesRep"
                                            class="lbl-on">{{ 'checkbox.yes.value' | translate }}</label>
                                    </div>
                                </div>
                                <div *ngIf="addRiderMemberObj['spouse']['addRiderFlag']" class="col-md-10 mt-4">
                                    <button (click)="addRiderBtn('spouse')" class="close-icon addrider-close-btn">
                                        <svg>
                                            <use xlink:href="#ICON_Cross" />
                                        </svg>
                                    </button>
                                    <div class="membercard-addrider">
                                        <label>Temporary Total Disability</label>
                                    </div>
                                </div>
                                <div *ngIf="!addRiderMemberObj['spouse']['addRiderFlag']" class="col-md-12 mt-3">
                                    <button (click)="addRiderBtn('spouse')" type="button"
                                        class="btn link-btn">{{'memberDetails.memberCard.addRider.btn' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Child 1 -->
                <div *ngIf="memberDetailsForm.value.child_1" class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="theme-card w-100 p-0">
                        <div class="card-content">
                            <div class="row">
                                <button (click)="closeCard('child_1')" class="close-icon">
                                    <svg>
                                        <use xlink:href="#ICON_Cross" />
                                    </svg>
                                </button>
                                <div [ngClass]="{'complete': memberDetailsForm.value.child_1_dob}"
                                    class="form-field col-md-12">
                                    <label for="child_1_dob" class="head-sm">{{'memberDetails.memberCard.child_1DOB.label' |
                                        translate}}</label>
                                    <input #date3 type="text" formControlName="child_1_dob" class="form-control"
                                        name="child_1_dob" id="child_1_dob" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="formatLikeExcel('spouse')" (focusout)="formatLikeExcel('spouse')"
                                        placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                <div [ngClass]="{'complete': memberDetailsForm.value.child_1RiskClass}"
                                    class="form-field col-12">
                                    <label for="child_1RiskClass" class="head-sm">{{'memberDetails.memberCard.riskClass.label' |
                                    translate}}</label>
                                    <ng-select [items]="amtArr" formControlName="child_1RiskClass" [searchable]="false"
                                        placeholder="{{'commonText.select.placeholder' | translate}}"
                                        id="child_1RiskClass" (keypress)="isNumberKey($event)">
                                    </ng-select>
                                    <span class="error-msg">
                                        {{'commonText.requiredError' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label
                                        class="med-ques">{{'memberDetails.memberCard.historyQues' | translate}}</label>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="toggle-btn">
                                        <input type="checkbox" formControlName="child_1HistoryQuesRep"
                                            id="child_1HistoryQuesRep" class="switch" />
                                        <span class="s-checkbox"></span>
                                        <label for="child_1HistoryQuesRep"
                                            class="lbl-off">{{ 'checkbox.no.value' | translate }}</label>
                                        <label for="child_1HistoryQuesRep"
                                            class="lbl-on">{{ 'checkbox.yes.value' | translate }}</label>
                                    </div>
                                </div>
                                <div *ngIf="addRiderMemberObj['child_1']['addRiderFlag']" class="col-md-10 mt-4">
                                    <button (click)="addRiderBtn('child_1')" class="close-icon addrider-close-btn">
                                        <svg>
                                            <use xlink:href="#ICON_Cross" />
                                        </svg>
                                    </button>
                                    <div class="membercard-addrider">
                                        <label>Temporary Total Disability</label>
                                    </div>
                                </div>
                                <div *ngIf="!addRiderMemberObj['child_1']['addRiderFlag']" class="col-md-12 mt-3">
                                    <button (click)="addRiderBtn('child_1')" type="button"
                                        class="btn link-btn">{{'memberDetails.memberCard.addRider.btn' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Child 2 -->
                <div *ngIf="memberDetailsForm.value.child_2" class="col-md-6 col-lg-4 col-xl-3 mb-4">
                    <div class="theme-card w-100 p-0">
                        <div class="card-content">
                            <div class="row">
                                <button (click)="closeCard('child_2')" class="close-icon">
                                    <svg>
                                        <use xlink:href="#ICON_Cross" />
                                    </svg>
                                </button>
                                <div [ngClass]="{'complete': memberDetailsForm.value.child_2_dob}"
                                    class="form-field col-md-12">
                                    <label for="child_2_dob" class="head-sm">{{'memberDetails.memberCard.child_2DOB.label' |
                                        translate}}</label>
                                    <input #date4 type="text" formControlName="child_2_dob" class="form-control"
                                        name="child_2_dob" id="child_2_dob" (keypress)="isNumberKey($event)"
                                        (keyup.enter)="formatLikeExcel('child_2')"
                                        (focusout)="formatLikeExcel('child_2')" placeholder="DD/MM/YYYY"
                                        autocomplete="off">
                                </div>
                                <div [ngClass]="{'complete': memberDetailsForm.value.child_2RiskClass}"
                                    class="form-field col-12">
                                    <label for="child_2RiskClass" class="head-sm">{{'memberDetails.memberCard.riskClass.label' |
                                    translate}}</label>
                                    <ng-select [items]="amtArr" formControlName="child_2RiskClass" [searchable]="false"
                                        placeholder="{{'commonText.select.placeholder' | translate}}"
                                        id="child_2RiskClass" (keypress)="isNumberKey($event)">
                                    </ng-select>
                                    <span class="error-msg">
                                        {{'commonText.requiredError' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label
                                        class="med-ques">{{'memberDetails.memberCard.historyQues' | translate}}</label>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="toggle-btn">
                                        <input type="checkbox" formControlName="child_2HistoryQuesRep"
                                            id="child_2HistoryQuesRep" class="switch" />
                                        <span class="s-checkbox"></span>
                                        <label for="child_2HistoryQuesRep"
                                            class="lbl-off">{{ 'checkbox.no.value' | translate }}</label>
                                        <label for="child_2HistoryQuesRep"
                                            class="lbl-on">{{ 'checkbox.yes.value' | translate }}</label>
                                    </div>
                                </div>
                                <div *ngIf="addRiderMemberObj['child_2']['addRiderFlag']" class="col-md-10 mt-4">
                                    <button (click)="addRiderBtn('child_2')" class="close-icon addrider-close-btn">
                                        <svg>
                                            <use xlink:href="#ICON_Cross" />
                                        </svg>
                                    </button>
                                    <div class="membercard-addrider">
                                        <label>Temporary Total Disability</label>
                                    </div>
                                </div>
                                <div *ngIf="!addRiderMemberObj['child_2']['addRiderFlag']" class="col-md-12 mt-3">
                                    <button (click)="addRiderBtn('child_2')" type="button"
                                        class="btn link-btn">{{'memberDetails.memberCard.addRider.btn' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Child Button -->
            <div *ngIf="memberDetailsForm.value.child_1 && !memberDetailsForm.value.child_2" class="row mt-3">
                <div class="col-md-12">
                    <button (click)="addAnotherChildBtn()" type="button"
                        class="btn primary-btn theme-lg-btn mr-0">{{'memberDetails.addAnotherChild.btn' | translate}}</button>
                </div>
            </div>
        </div>

        <!-- Proceed Button -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button" (click)="route()"
                class="btn primary-btn mob-text-btn theme-lg-btn active">{{ 'commonBtn.proceed' | translate }}</button>
        </div>

    </form>
    <!-- Form end -->


</div>