@import "sass/variable";
@import "sass/mixins";
@import "sass/fonts";
@import "sass/placeholder";
@import "@ng-select/ng-select/themes/default.theme.css";

// *********COMMON**********//
label.subtitle {
    text-transform: uppercase;
}

.med-ques {
    color: $clr-primary;
    font-size: 18px;
    font-family: $pop-med;
}

.membercard-addrider {
    box-shadow: $outset;
    padding: 10px;
    border-radius: 7px;
}

.membercard-addrider label {
    color: $clr-primary;
    font-family: $pop-reg;
    font-size: 18px;
    margin: 0;
}

.addrider-close-btn {
    height: 30px;
    width: 30px;
    right: 2%;
}

.label-checked {
    pointer-events: auto !important;
}

.subtitle-pl {
    padding-left: 30px !important;
}

.premium-amt-value {
    color: $clr-primary;
    font-family: $pop-semi;
    font-size: 24px;
}

.d-flex-acenter {
    display: flex;
    align-items: center;
}

table.premium-detials-table {
    line-height: 10px;
}

.brdr-top {
    border-top: 1px dotted rgba(81, 96, 129, 0.5);
}

table.premium-detials-table tfoot span.theme-value {
    font-size: 16px !important;
}

table.premium-detials-table tbody span.theme-value {
    font-size: 15px !important;
}

.review-proposal label {
    margin-bottom: 0.2em;
}

.review-proposal span.theme-value {
    display: block;
}

.review-proposal label.theme-label {
    text-transform: initial;
}

.quotelist-btn {
    color: $clr-primary;
    opacity: 1;
    background: $btn-pri-bg;
    box-shadow: $outset;
    border-radius: 50%;
    border: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 40px;
    padding: 10px
}

.file-err-msg {
    display: inline-block;
    position: relative;
    bottom: -52px;
}

.file-label-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-uploadFile {
    width: 30px;
    height: 25px !important;
    fill: $primary-dark;
}

.custom-file-label::after {
    content: none !important;
}

.custom-file-input {
    display: none;
}

.d-flex-jcenter {
    display: flex;
    justify-content: center;
}

.subtitle-disclaimer {
    text-transform: initial !important;
}

.preview-details-row div {
    margin-bottom: 1.5rem;
}

.quotelist-btn:active,
.quotelist-btn:focus,
.quotelist-btn:hover {
    color: $clr-primary;
    box-shadow: $outset
}


.member-icon {
    height: 35px;
    width: 35px;
    box-shadow: $outset;
}

.member-icon-fill {
    fill: $clr-primary;
}

.check-default label {
    font-family: $pop-med;
}

.end-date-pos {
    position: absolute;
}

.icon-yesterday{
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    transform: translate(10px, 10px);
}

//**********MEDIA***********//
@media only screen and (max-width: 1920px) {}

@media only screen and (min-width: 1920px) {
    .custom-file-label {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .button-tooltip .tooltiptext,
    .template-tooltip .tooltiptext {
        font-size: 14px;
    }

    .file-err-msg {
        bottom: -70px;
    }

    .file-upload-note {
        font-size: 18px;
    }

    .upload-note-block {
        padding-top: 2rem;
    }

    .textarea-err-msg {
        bottom: -35px;
    }

    .theme-radio {
        margin-right: 15px;
    }

    .check-default label {
        font-size: 18px;
    }

    .end-date-pos {
        bottom: -30px;
    }

}

@media only screen and (max-width: 1600px) {
    .theme-check input[type=checkbox]:checked+label~.lbl {
        font-size: 14px;
    }

    .med-ques,
    .membercard-addrider label {
        font-size: 14px;
    }

    .subtitle-pl {
        padding-left: 20px !important;
    }

    .premium-amt-value {
        font-size: 22px;
    }

    .bottom-error-pos-lg {
        bottom: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .bottom-error-pos-md {
        bottom: 15px;
    }

    .bottom-error-pos-lg {
        bottom: -5px;
    }
}

@media screen and (max-width: 768px) {
    .bottom-error-pos-md {
        bottom: 25px;
    }
}

@media screen and (min-width: 768px) {

    .theme-form .theme-card .card-content.input-card-content,
    .theme-form .theme-card .card-content.preview-card-content {
        padding-bottom: 0;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .mt-mobile {
        margin-top: 2rem;
    }

    .link-btn {
        font-size: 13px !important;
    }

    .modal-btn {
        width: 100% !important;
        min-width: fit-content !important;
    }

    .dropdown-share-icon {
        transform: scale(2);
    }

    .upload-file-mt {
        margin-top: 2rem;
    }

    .bottom-error-pos-md {
        bottom: 0px;
    }
}