<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'additionalPolicyDetails.title' | translate}}<span class="p-l-md head-date">04/06</span>
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'additionalPolicyDetails.title' | translate}} </span>
        </div>
        <div class="pull-right">
            <button (click)="routeBackToProposal()" type="button"
                class="link-btn">{{ 'commonBtn.goBackToProposal' | translate }}</button>
        </div>
    </div>
    <!-- Page header end -->

    <form [formGroup]="additionalPolicyDetailsForm" class="theme-form mt-mobile">
        <div formArrayName="policyArr"
            *ngFor="let policy of additionalPolicyDetailsForm.get('policyArr')['controls']; let i = index">
            <div [formGroupName]="i" class="theme-card w-100 p-0" [ngClass]="{'mt-4': i>0}">
                <div class="card-content input-card-content">
                    <div class="row">
                        <div *ngIf="i>0" class="col-md-12">
                            <button (click)="removePolicyArrBtn(i)" type="button"
                                class="btn link-btn pull-right">{{ 'commonBtn.delete' | translate }}</button>
                        </div>
                        <div [ngClass]="{'complete': policy.get('policyStartDate').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'policyStartDate'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.policyStartDate.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="policyStartDate"
                                name="{{'policyStartDate'+i}}" id="{{'policyStartDate'+i}}"
                                (keypress)="isNumberKey($event)"
                                (keyup.enter)="formatLikeExcel(policy,'policyStartDate')"
                                (focusout)="formatLikeExcel(policy,'policyStartDate')" placeholder="DD/MM/YYYY"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('previousPolicyDate').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'previousPolicyDate'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.previousPolicyDate.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="previousPolicyDate"
                                name="{{'previousPolicyDate'+i}}" id="{{'previousPolicyDate'+i}}"
                                (keypress)="isNumberKey($event)"
                                (keyup.enter)="formatLikeExcel(policy,'previousPolicyDate')"
                                (focusout)="formatLikeExcel(policy,'previousPolicyDate')" placeholder="DD/MM/YYYY"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('previousPolicyNumber').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'previousPolicyNumber'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.previousPolicyNumber.label' | translate}}</label>
                            <input type="number" class="form-control" formControlName="previousPolicyNumber"
                                name="{{'previousPolicyNumber'+i}}" id="{{'previousPolicyNumber'+i}}"
                                (keypress)="isNumberKey($event)"
                                placeholder="{{'additionalPolicyDetails.previousPolicyNumber.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('insurer').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'insurer'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.insurer.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="insurer" name="{{'insurer'+i}}"
                                id="{{'insurer'+i}}"
                                placeholder="{{'additionalPolicyDetails.insurer.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('nameOfTheInsuredPerson').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'nameOfTheInsuredPerson'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.nameOfTheInsuredPerson.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false"
                                formControlName="nameOfTheInsuredPerson" id="{{'nameOfTheInsuredPerson'+i}}"
                                placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('sumInsured').value}"
                            class="col-md-6 col-lg-4 col-xl-3 custom-rupee-control form-field">
                            <label for="{{'sumInsured'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.sumInsured.label' | translate}}</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend rupee-refer-btn">
                                    <span class="input-group-text svg-md"><i class="fa fa-inr"
                                            aria-hidden="true"></i></span>
                                </div>
                                <input type="number" class="form-control rupee-referal-input"
                                        formControlName="sumInsured" name="{{'sumInsured'+i}}" id="{{'sumInsured'+i}}"
                                        (keypress)="isNumberKey($event)"
                                        placeholder="{{'additionalPolicyDetails.sumInsured.placeholder' | translate}}"
                                        autocomplete="off">
                            </div>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': policy.get('claimsLodgedInPreceedingYears').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'claimsLodgedInPreceedingYears'+i}}"
                                class="head-sm">{{'additionalPolicyDetails.claimsLodgedInPreceedingYears.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="claimsLodgedInPreceedingYears"
                                name="{{'claimsLodgedInPreceedingYears'+i}}" id="{{'claimsLodgedInPreceedingYears'+i}}"
                                placeholder="{{'additionalPolicyDetails.claimsLodgedInPreceedingYears.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Nominee Button -->
        <div class="row pt-4">
            <div class="col-md-12">
                <button (click)="addPolicyArrBtn()" type="button"
                    class="btn link-btn">{{'additionalPolicyDetails.addPolicyBtn' | translate}}</button>
            </div>
        </div>

        <!-- Save Next Buttons -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button"
                class="btn primary-btn theme-sm-btn mob-text-btn">{{ 'commonBtn.save' | translate }}</button>
            <button (click)="route()" type="button"
                class="btn theme-sm-btn primary-btn mob-btn">{{ 'commonBtn.next' | translate }}</button>
        </div>
    </form>

</div>