<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'quoteInformation.title' | translate}}
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'quoteInformation.title' | translate}}</span>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Form Start -->
    <form [formGroup]="quoteInformationForm" class="theme-form mt-mobile">
        <div class="theme-card w-100 p-0">
            <div class="card-content input-card-content">
                <div class="row">
                    <div [ngClass]="{'complete': quoteInformationForm.get('cityPincode').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="cityPincode"
                            class="head-sm">{{ 'quoteInformation.cityPincode.label' | translate }}</label>
                        <input type="text" class="form-control" formControlName="cityPincode" name="cityPincode"
                            id="cityPincode" placeholder="{{ 'quoteInformation.cityPincode.placeholder' | translate }}"
                            autocomplete="off">
                        <span class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': quoteInformationForm.get('productVariant').value}"
                        class="form-field col-md-6 col-lg-4 col-xl-3">
                        <div class="head-sm"><label>{{ 'quoteInformation.productVariant.label' | translate }}</label>
                        </div>
                        <div class="form-group theme-radio radio-btn">
                            <input type="radio" id="protect" value="Protect" formControlName="productVariant"
                                name="productVariant">
                            <label
                                for="protect"><span>{{ 'quoteInformation.productVariant.option_1' | translate }}</span></label>
                        </div>
                        <div class="form-group theme-radio radio-btn">
                            <input type="radio" id="elite" value="Elite" formControlName="productVariant"
                                name="productVariant">
                            <label
                                for="elite"><span>{{ 'quoteInformation.productVariant.option_2' | translate }}</span></label>
                        </div>
                        <div class="form-group theme-radio radio-btn">
                            <input type="radio" id="premier" value="Premier" formControlName="productVariant"
                                name="productVariant">
                            <label
                                for="premier"><span>{{ 'quoteInformation.productVariant.option_3' | translate }}</span></label>
                        </div>
                        <span class="error-msg d-block m-md-n2 radio-err-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': quoteInformationForm.get('occupation').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="occupation"
                            class="head-sm">{{ 'quoteInformation.occupation.label' | translate }}</label>
                        <ng-select [items]="dropDownArr" [searchable]="false" formControlName="occupation"
                            id="occupation" placeholder="{{'commonText.select.placeholder' | translate}}"
                            autocomplete="off">
                        </ng-select>
                        <span [ngClass]="{'bottom-error-pos-md': incomeAmountInWords}" class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                    <div [ngClass]="{'complete': quoteInformationForm.get('annualIncome').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="annualIncome"
                            class="head-sm">{{ 'quoteInformation.annualIncome.label' | translate }}</label>
                        <input type="number" class="form-control" formControlName="annualIncome" name="annualIncome"
                            id="annualIncome" (focusout)="annualIncomeEnter()" (keyup.enter)="annualIncomeEnter()"
                            placeholder="{{ 'quoteInformation.annualIncome.placeholder' | translate }}"
                            autocomplete="off">
                        <span *ngIf="!incomeAmountInWords" class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                        <span *ngIf="incomeAmountInWords" class="head-sm d-flex mb-0"
                            id="annualIncomeWord">{{incomeAmountInWords}}</span>
                    </div>
                    <div [ngClass]="{'complete': quoteInformationForm.get('gstinNumber').value}"
                        class="col-md-6 col-lg-4 col-xl-3 form-field">
                        <label for="gstinNumber"
                            class="head-sm">{{ 'quoteInformation.gstinNumber.label' | translate }}</label>
                        <input type="number" class="form-control" formControlName="gstinNumber" name="gstinNumber"
                            id="gstinNumber" placeholder="{{ 'quoteInformation.gstinNumber.placeholder' | translate }}"
                            autocomplete="off">
                        <span [ngClass]="{'bottom-error-pos-lg': incomeAmountInWords}" class="error-msg">
                            {{'commonText.requiredError' | translate}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Proceed Button -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button" (click)="route()"
                class="btn primary-btn mob-text-btn theme-lg-btn active">{{ 'commonBtn.proceed' | translate }}</button>
        </div>

    </form>
    <!-- Form Start -->

</div>