<div class="theme-container">

    <!-- Page header start -->
    <div class="page-title">
        <div (click)="routeBack()" class="nav-btn">
            <svg>
                <use xlink:href="#ICON_Arrow" />
            </svg>
        </div>
        <h3 class="head-lg heading text-uppercase">
            {{'documentUpload.title' | translate}}<span class="p-l-md head-date">06/06</span>
        </h3>
        <div class="pull-right breadcrum">
            <span class="head-sm">{{'commonText.applicationBreadcrumb' | translate}} </span>
            <span class="head-sm"> {{'documentUpload.title' | translate}} </span>
        </div>
        <div class="pull-right">
            <button (click)="routeBackToProposal()" type="button"
                class="link-btn">{{ 'commonBtn.goBackToProposal' | translate }}</button>
        </div>
    </div>
    <!-- Page header end -->

    <form [formGroup]="documentUploadForm" class="theme-form mt-mobile">
        <div formArrayName="documentArr"
            *ngFor="let document of documentUploadForm.get('documentArr')['controls']; let i = index">
            <div [formGroupName]="i" class="theme-card w-100 p-0" [ngClass]="{'mt-4': i>0}">
                <div class="card-content input-card-content">
                    <div class="row">
                        <div *ngIf="i>0" class="col-md-12">
                            <button (click)="removeDocumentGroupArrBtn(i)" type="button"
                                class="btn link-btn pull-right">{{ 'commonBtn.delete' | translate }}</button>
                        </div>
                        <div [ngClass]="{'complete': document.get('nameOfTheInsuredPerson').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'nameOfTheInsuredPerson'+i}}"
                                class="head-sm">{{'documentUpload.nameOfTheInsuredPerson.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false"
                                formControlName="nameOfTheInsuredPerson" id="{{'nameOfTheInsuredPerson'+i}}"
                                placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': document.get('documentType').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'documentType'+i}}"
                                class="head-sm">{{'documentUpload.documentType.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="documentType"
                                id="{{'documentType'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': document.get('documentName').value}"
                            class="form-field col-md-6 col-lg-4 col-xl-3">
                            <label
                                class="head-sm text-uppercase">{{'documentUpload.uploadDocument.label' | translate}}</label>
                            <div class="custom-file">
                                <input type="file" accept="image/jpeg,image/png,application/pdf"
                                    (change)="onFileChange($event,document)" class="custom-file-input"
                                    id="{{'customFile'+i}}">
                                <label *ngIf="!document.get('documentName').value"
                                    class="custom-file-label form-control" for="{{'customFile'+i}}"><svg
                                        class="icon-uploadFile m-r-sm">
                                        <use xlink:href="#ICON_FileUpload" />
                                    </svg>Upload file</label>
                                <label *ngIf="document.get('documentName').value"
                                    class="custom-file-label form-control file-label-selected"
                                    for="{{'customFile'+i}}"><span
                                        class="text-truncate">{{document.get('documentName').value}}</span>
                                    <span><button (click)="removeDocFile(document)"
                                            class="btn font-sm link-btn text-uppercase">Remove</button></span>
                                </label>
                                <span class="error-msg file-err-msg">
                                    Required *
                                </span>
                            </div>
                        </div>
                        <div [ngClass]="{'complete': document.get('remarks').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field upload-file-mt">
                            <label for="{{'remarks'+i}}"
                                class="head-sm">{{'documentUpload.remarks.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="remarks" name="{{'remarks'+i}}"
                                id="{{'remarks'+i}}" placeholder="{{'documentUpload.remarks.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Document Button -->
        <div class="row pt-4">
            <div class="col-md-12">
                <button (click)="addDocumentArrBtn()" type="button"
                    class="btn link-btn">{{'documentUpload.addFileBtn' | translate}}</button>
            </div>
        </div>
        <!-- <div class="theme-card w-100 p-0">
            <div class="card-content">
                <div formArrayName="documentArr"
                    *ngFor="let document of documentUploadForm.get('documentArr')['controls']; let i = index">
                    <div [formGroupName]="i" class="row" [ngClass]="{'brdr-top': i>0}">
                        <div *ngIf="i>0" class="col-md-12 pt-3">
                            <button (click)="removeDocumentGroupArrBtn(i)" type="button"
                                class="btn link-btn pull-right">{{ 'commonBtn.delete' | translate }}</button>
                        </div>
                        <div [ngClass]="{'complete': document.get('nameOfTheInsuredPerson').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'nameOfTheInsuredPerson'+i}}"
                                class="head-sm">{{'documentUpload.nameOfTheInsuredPerson.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false"
                                formControlName="nameOfTheInsuredPerson" id="{{'nameOfTheInsuredPerson'+i}}"
                                placeholder="{{'commonText.select.placeholder' | translate}}" autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': document.get('documentType').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field">
                            <label for="{{'documentType'+i}}"
                                class="head-sm">{{'documentUpload.documentType.label' | translate}}</label>
                            <ng-select [items]="dropDownArr" [searchable]="false" formControlName="documentType"
                                id="{{'documentType'+i}}" placeholder="{{'commonText.select.placeholder' | translate}}"
                                autocomplete="off">
                            </ng-select>
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                        <div [ngClass]="{'complete': document.get('documentName').value}"
                            class="form-field col-md-6 col-lg-4 col-xl-3">
                            <label
                                class="head-sm text-uppercase">{{'documentUpload.uploadDocument.label' | translate}}</label>
                            <div class="custom-file">
                                <input type="file" accept="image/jpeg,image/png,application/pdf"
                                    (change)="onFileChange($event,document)" class="custom-file-input"
                                    id="{{'customFile'+i}}">
                                <label *ngIf="!document.get('documentName').value"
                                    class="custom-file-label form-control" for="{{'customFile'+i}}"><svg
                                        class="icon-uploadFile m-r-sm">
                                        <use xlink:href="#ICON_FileUpload" />
                                    </svg>Upload file</label>
                                <label *ngIf="document.get('documentName').value"
                                    class="custom-file-label form-control file-label-selected"
                                    for="{{'customFile'+i}}"><span
                                        class="text-truncate">{{document.get('documentName').value}}</span>
                                    <span><button (click)="removeDocFile(document)"
                                            class="btn font-sm link-btn text-uppercase">Remove</button></span>
                                </label>
                                <span class="error-msg file-err-msg">
                                    Required *
                                </span>
                            </div>
                        </div>
                        <div [ngClass]="{'complete': document.get('remarks').value}"
                            class="col-md-6 col-lg-4 col-xl-3 form-field upload-file-mt">
                            <label for="{{'remarks'+i}}"
                                class="head-sm">{{'documentUpload.remarks.label' | translate}}</label>
                            <input type="text" class="form-control" formControlName="remarks" name="{{'remarks'+i}}"
                                id="{{'remarks'+i}}" placeholder="{{'documentUpload.remarks.placeholder' | translate}}"
                                autocomplete="off">
                            <span class="error-msg">
                                {{'commonText.requiredError' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <button (click)="addDocumentArrBtn()" type="button"
                        class="btn link-btn">{{'documentUpload.addFileBtn' | translate}}</button>
                </div>
            </div>
        </div> -->


        <!-- Save Review Button -->
        <div class="btn-block primary bg-blue m-t-lg">
            <button type="button"
                class="btn primary-btn theme-sm-btn mob-text-btn">{{ 'commonBtn.save' | translate }}</button>
            <button (click)="route()" type="button"
                class="btn theme-sm-btn primary-btn mob-btn">{{ 'commonBtn.review' | translate }}</button>
        </div>
    </form>

</div>